<%= link_to "All Players", "/players" %> <%= link_to "All Teams", "/teams" %>
<h3><%= @team.name %></h3>

<% @players.each do |player| %>
<div class="player-<%=player.id%>">
<p> <strong><%= player.name %></strong> : Position: <%= player.position %> Points: <%= player.points %> Active: <%= player.active %> <%= link_to "Update", "/players/#{player.id}/edit" %></p>
</div>
<% end %>

<%= link_to "Add New Player", "/teams/#{@team.id}/players/new" %>

<%= link_to "Alphabetize!", "/teams/#{@team.id}/players?alpha=yes", method: :get %>
