<%= link_to "All Players", "/players" %> <%= link_to "All Teams", "/teams" %>
<h2>Fantasy Football Teams</h2>

<% @teams.each do |team| %>
  <div class="team-<%=team.id%>">
    <p><%= team.name %>
      <strong>created at</strong>
      <%= team.readable_date %>
      <%= link_to "Edit", "/teams/#{team.id}/edit" %>
      <%= link_to "Delete", "/teams/#{team.id}", method: :delete %>
    </p>
  </div>
  <% end %>

<%= link_to "New Team", "/teams/new" %>
