<h3> Create New Team </h3>

<%= form_with url: "/teams", method: :post, local: true do |form| %>
  <%= form.label :name, "Team Name" %>
  <%= form.text_field :name %><br/><br/>
  <%= form.label :winning_record %>
  <%= form.select :winning_record, ["true", "false"] %><br/><br/>
  <%= form.label :games_played %>
  <%= form.number_field :games_played, in: 0..1000, step: 1 %><br/><br/>

  <%= form.submit "Create Team" %>
  <% end %>
