<%= link_to "All Players", "/players" %> <%= link_to "All Teams", "/teams" %>
<h3><%= @team.name %></h3>

<% @players.each do |player| %>
<p> <strong><%= player.name %></strong> : Position: <%= player.position %> Points: <%= player.points %> Active: <%= player.active %> </p>
<% end %>
