<a href="/players">Players Index</a> <a href="/teams">Teams Index</a>

<h3><%= @team.name %></h3>

<% @players.each do |player| %>
<p> <strong><%= player.name %></strong> : Position: <%= player.position %> Points: <%= player.points %> Active: <%= player.active %> </p>
<% end %>
