<%= link_to "All Players", "/players" %> <%= link_to "All Teams", "/teams" %>

<h2>Team: <%= @team.name %></h2>
<p><strong>Games Played:</strong> <%= @team.games_played %></p>
<p><strong>Winning Record:</strong> <%= @team.winning_record %></p>
<p><strong>Number of Players:</strong> <%= @team.num_of_players %></p>
<%= link_to "#{@team.name}'s Players", "/teams/#{@team.id}/players" %>
<hr/>
<%= link_to "Update", "/teams/#{@team.id}/edit" %>
<%= link_to "Delete", "/teams/#{@team.id}", method: :delete %>
