<%= link_to "All Players", "/players" %> <%= link_to "All Teams", "/teams" %>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Points</th>
    <th>Status</th>
    <th>Edit/Delete</th>
  </tr>
<% @players.each do |player| %>
  <tr>
  <div class="player-<%=player.id%>">
    <td><%= player.name %></td>
    <td><%= player.position %></td>
    <td><%= player.points %></td>
    <td><%= player.active %></td>
    <td> <%= link_to "Edit", "/players/#{player.id}/edit"%>
      <%= link_to "Delete", "/players/#{player.id}", method: :delete%></td>
    </tr>
  </div>
<% end %>
</table>
