<%= link_to "All Players", "/players" %> <%= link_to "All Teams", "/teams" %>
<h3><%= @player.name %></h3>
<p><strong>Position:</strong> <%= @player.position %></p>
<p><strong>Points Scored:</strong> <%= @player.points %></p>
<p><strong>Status:</strong> <%= @player.active? %></p>
<p><strong>Plays For:</strong> <%= @team.name %>
<hr/>
<%= link_to "Edit", "/players/#{@player.id}/edit" %>
<%= link_to "Delete", "/players/#{@player.id}", method: :delete %>
