<%= link_to "All Players", "/players" %> <%= link_to "All Teams", "/teams" %>
<h3><%= @player.name %></h3>
<p>Position: <%= @player.position %></p>
<p>Points Scored: <%= @player.points %></p>
<p>Active: <%= @player.active %></p>

<%= link_to "Update", "/players/#{@player.id}/edit" %>
